.image.image-right-end {
    float: right;
    margin: 0 0 15px 15px;
    width: min-content;
}

.image.image-left-end {
    float: left;
    margin: 0 15px 15px 0;
    width: min-content;
}

.image.image-right-end img,
.image.image-left-end img {
    max-width: unset;
}

.caption {
    font-size: small;
    color: gray;
}

@media only screen and (max-width: 480px) {
    .image.image-right-end,
    .image.image-left-end {
        clear: both;
        width: auto;
        margin: 0 0 15px 0;
    }
    .image.image-right-end img,
    .image.image-left-end img {
        width: 100%;
        height: auto;
    }
}
